@font-face {
  font-family: "alice";
  src: url("./assets/fonts/Alice-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #3f2305;
  --secondary-color: #c5dff8;
}

@layer base {
  body {
    @apply font-alice text-primary-color;
  }

  h1 {
    @apply text-4xl font-extrabold pt-1 lg:text-6xl xl:text-8xl;
  }

  h2 {
    @apply text-sm font-extrabold lg:text-xl xl:text-2xl;
  }

  p {
    @apply font-bold text-sm lg:text-base xl:text-xl;
  }

  ul.rollMenu li {
    @apply hover:underline underline-offset-4 decoration-2 transition duration-500 ease-in-out pt-5;
  }

  ul.navMenu li {
    @apply text-center pt-10 md:flex md:flex-col md:justify-center md:pt-0 md:text-sm md:font-extrabold md:pl-10 lg:text-lg  xl:text-xl;
  }

  ul.navMenu li:hover {
    @apply text-secondary-color transition duration-500 ease-in-out;
  }
}

@layer components {
  video {
    position: absoulte;
    left: 0;
    top: 0;
    min-width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }

  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }

  .showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
  }

  .showcase.active {
    right: 150px;
  }
}
